bin/
obj/
out/
debug/
release/

*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
.vs/

*.log
Logs/

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

appsettings.Development.json

TestResults/
*.trx
*.nupkg
*.snupkg
.nuget/

*.cache
